<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/css/header.css">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
        
        <title>Expense Manager</title>

    </head>


    <body>
      <div id = "header">
            <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">Expense Manager</a>
            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div id="my-header-menu" class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/bankac/showAllAccounts">Accounts</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/expenses/showAllExpenses">Expenses</a>
                        </li>
                        
                        
                        
                      </ul>
            
                      <!-- <span class="navbar-text">
                        <i class="material-icons md-light md-36">person</i>
                      </span> -->

                      <div class="btn-group pull-xs-right">
                        <h6 class = "welcome">{{firstname}}</h6>
                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="lr2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons md-light md-36">person</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lr2">
                              <button class="dropdown-item" type="button">View Profile</button>
                              <button class="dropdown-item" type="button">Action 1</button>
                              <button class="dropdown-item disabled" type="button">Disabled action</button>
                              <div class="dropdown-divider"> </div>
                              <a class="dropdown-item" href="#">Sign out</a>
                            </div>
                          </div>

                    </div>
            </nav>

            </div>

            <main>
              {{{body}}}
            </main>
            
    </body>
</html>

