<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/css/signup.css">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
        
        <title>Log in</title>
    </head>

    <body>
        <div class="login form">
            <div class="card">
                    <div id="my-title-container" class="card-header">
                            <h5 class="my-card-header-title">Sign up</h5>
                    </div>

                    <div class="card-body">
                        <form>
                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i id = "field-icon" class="material-icons">email</i></span>
                                        <input name="unm" type="text" class="form-control" placeholder="E-mail"/>
                                </div>
                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">person</i></span>
                                       <input name="fm" type="text" class="form-control" placeholder="First Name"/>
                                </div>

                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">person</i></span>
                                       <input name="ln" type="text" class="form-control" placeholder="Last Name"/>
                                </div>
                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">vpn_key</i></span>
                                       <input name="pwd"type="text" class="form-control" placeholder="Password"/>
                                </div>
                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">vpn_key</i></span>
                                       <input name="cpwd"type="text" class="form-control" placeholder="Confirm password"/>
                                </div>
                                <div>
                                        <button id="primary-button"  type="button" class="btn btn-primary ">Submit</button>
                                        
                                        
                                </div>

                                
                               

                        </form>

                    </div>

            </div>

        </div>
    </body>
</html>