#my-title-container{
    background: purple;
}

.add-bankac-form{
    padding: 36px;
    width: 80%;
    margin: auto;
}

#lab {
    margin-top: 10px;
}

.form-control {
    margin-left: 20px;
}

.input-group {
    display: flex;
    vertical-align: middle;
}

.my-card-header-title{
    font-style: bold;
    padding: 6px;
    color: white;
}

#primary-buttonA{
    margin-top: 20px;
    float: right;
    background-color: green;
}

#signout{
    visibility: hidden
}
