#my-title-container{
    background: #4CAF50
}
.my-title{
    color: white;
    font-size: 18pt;
    height: 120px;
}

.add-income-form{
    padding: 36px;
    width: 80%;
    margin: auto;
}

#field-container{
    margin-top: 20px;
    margin-bottom: 20px;
}



#expense-description{
    float: left;
    width: 60%;
}

.my-card-header-title{
    font-style: bold;
    padding: 6px;
    color: white;
}

#primary-button{
    float: right;
}

.date{
    padding-left: 20px;
    border-collapse: collapse;
    font-size: .9em;
    margin: 0 0 .4em;
    width: 100%;
   
    font-weight: bold;
  
}


#label{
   padding-right: 25px;
   border-collapse: collapse; 
   font-style: bold;
   
}

