#my-title-container{
    background: #E53935;
}

#amount{
    font-size: 14pt;
}

#expense-desc{
    font-size: 12pt;
}

.my-card-header-title{
    font-style: bold;
    padding: 6px;
    color: white;
}

#expenses-card{
    width: 80%;
    margin: auto;
    margin-top: 12px;
}

tr{
    padding: 16px;
}


td{
    padding: 12px;
}

#edit{
    float: right;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#add_expense{
    background: #E53935;
    text-align: center;
}

/* 
#navbar-navbar-expand-lg-sticky-top-navbar-dark-bg-dark{
   visibility: visible;
} */

#signout{
    visibility: hidden
}
