<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/css/add_expense.css">

        
        {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
        <script src = "https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

        <!--
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        -->

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        
        <title>Add New Expense</title>
    </head>

    <body>
        <div class="add-expense-form">
                <div class="card">

                        <div id="my-title-container" class="card-header">
                          <h5 class="my-card-header-title">ADD YOUR EXPENSE DETAILS</h5>
                        </div>

                        <div class="card-body">
                            <!--
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            -->

                          <form action="/expenses/saveNewExpense" method="POST"> 
                                <!-- <div class="form-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control" id="expense-amount" placeholder="Enter Amount">
                                </div> -->
                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i id = "field-icon" class="material-icons">monetization_on</i></span>
                                        <input type="text" name="amount" class="form-control" placeholder="Enter amount"/>
                                </div>

                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">description</i></span>
                                       <input type="text" name="description" class="form-control" placeholder="Description"/>
                                </div>

                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">loyalty</i></span>
                                    
                                        
                                        <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  Choose Your Category
                                                </button>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="#">Travel</a>
                                                  <a class="dropdown-item" href="#">Groceries</a>
                                                  <a class="dropdown-item" href="#">Education</a>
                                                  <div class="dropdown-divider"></div>
                                                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Category</button>
                                                  
                                                </div>
                                        </div>
                                    
                                </div>


                                <div id="field-container" class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">account_balance</i></span>
                                    
                                        
                                        {{!-- <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  Choose Your bank account
                                                </button>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="#">Chase</a>
                                                  <a class="dropdown-item" href="#">Cash</a>
                                                  <a class="dropdown-item" href="#">Forex card</a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item" href="#">Add New Account</a>
                                                </div>
                                        </div> --}}

                                         <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  Choose Your bank account
                                                </button>
                                                <div class="dropdown-menu">
                                                {{!-- {{ #each bank_accounts }}
                                                  <a class="dropdown-item" href="#">{{ac_name}}</a>
                                                {{ /each }} --}}
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item" href="#">Add New Account</a>
                                                </div>
                                        </div>
                                    
                                      
                                </div>

                                <div class="date">
                                        <label id = "label"for="dt" <i class="material-icons">date_range</i></label>
	                                <input name="dt" type="date"/>
                                </div>

                                {{!-- <div id="field-container">
                                        <input class="c-datepicker-input" />
                                        {{!-- <button id="select_date">Select Date</button> --}}
                                       <a id="select_date" class="c-btn c-datepicker-btn">Select Date</a>
<<<<<<< HEAD
                                </div> --}}
=======
                                </div>

                                
>>>>>>> faf918bd2e69a29f0f0b6e2926aaaaec5ee8700d
                                
                                <button id="primary-button"  type="submit" class="btn btn-primary btn-raised">Save</button>
                                
                            </form>





                          

                        </div> <!-- End of card body-->
                        

                       
                </div><!--End of card-->
        </div><!--End of Add Expense Form-->


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="card">
                                        <div id="my-title-container" class="card-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h5 class="my-card-header-title">ADD NEW CATEGORY</h5>
                                        </div>
                                                
                                        
                                        <div class="card-body">
                                                <form action id = "add-category">
                                                        <div id="field-container" class="input-group">
                                                                <span class="input-group-addon"><i class="material-icons">loyalty</i></span>
                                                                <input type="text" name="new-category" id = "new-category" class="form-control" placeholder="Enter Your Category"/>
                                                        </div>
                                                        <button id="primary-button" class="btn btn-primary btn-raised">Save</button>
                                                            
                                                </form>
                                                
                                                
                                        </div>
                                </div>
                        </div>
                        

                </div>
        </div> <!--End of Modal-->
        
        {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
        <script src = "https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe" crossorigin="anonymous"></script>
        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign()});</script>
        <script src="/public/js/add_category.js"></script>

       
    </body>

</html>