<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/public/css/add_expense.css">

        <title>All Expenses</title>

    </head>
    
    <body>
      
        <div>
            <a href="/expenses/addExpense">Click Here To Add Expense</a>
            <a>or</a>
            <a href="/expenses/addIncome">Click Here To Add Income</a>
        </div>
        
        <div class="card">

                        <div id="my-title-container" class="card-header">
                          <h5 class="my-card-header-title">ALL EXPENSES</h5>
                        </div>

                        <div class="card-body">
                            <div>
                                {{#each expenses}}
                                    <a class="list-group-item"> 
                                        <i class="material-icons">{{category.icon_name}}</i>
                                        <div class="bmd-list-group-col">
                                            <p class="list-group-item-heading">{{desc}}</p>
                                            <p class="list-group-item-text">{{ category.category_name}}</p>
                                        </div>
                                        <span class="label label-default label-pill pull-xs-right"><b>${{amount}}</b></span>
                                    </a>
                                {{/each}}
                            </div>

                        </div>
        </div>
        {{!-- <div>
        <div>
            <a href="/expenses/addExpense">Click Here To Add Expense</a>
            <a>or</a>
            <a href="/expenses/addIncome">Click Here To Add Income</a>
        </div>
        <div>
            
            <ul>
                <a class="list-group-item">
                    <i class="material-icons">directions_bus</i>
                    <div class="bmd-list-group-col">
                    <p class="list-group-item-heading">87 Bus ticket</p>
                    <p class="list-group-item-text">Travel</p>
                    </div>
                    <span class="label label-default label-pill pull-xs-right">$1.6</span>
                </a>

                <a class="list-group-item">
                    <i class="material-icons">restaurant</i>
                    <div class="bmd-list-group-col">
                    <p class="list-group-item-heading">Chicken Tikka Roll</p>
                    <p class="list-group-item-text">Food</p>
                    </div>
                    <span class="label label-default label-pill pull-xs-right">$7</span>
                </a>

            </ul>

        </div> --}}
        
    </body>
    
</html>
